{% load cms_tags %}
<div class="slider-imagens col-md-12">
  <h3>Exemplos</h3>
  <div id="prev-slide" class="prev-slide col-md-offset-1 col-md-1">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
  <div class="col-md-8">
    <div class="aplicacao-slider">
      <ul>
        {% for plugin in instance.child_plugin_instances %}
          {% render_plugin plugin %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div id="next-slide" class="next-slide col-md-1">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</div>
