{% extends "baseCategoria.html" %}
{% load cms_tags static %}

{% block intro %}
  {% placeholder "bg" %}
{% endblock intro %}
{% block whatIsIt %}
  <div class="desc-bg">
    <div class="container desc">
      <div class="row">
        <div class="div-title">
          <h2> O que são </h2>
        </div>
        <div class="desc-text">
          {% placeholder "categoriaintro" %}
        </div>
      </div>
    </div>
  </div>
{% endblock whatIsIt %}

{% block category %}
<div class="container">
    <div class="">
        <h2>Categorias</h2>
    </div>
    <div class="row">
        <div class="col-md-12 sub-tree">
          {% placeholder 'subcategoria' %}
        </div>
      </div>
</div>
{% endblock category %}
