{% extends "base.html" %}
{% load cms_tags %}

{% block intro %}
<div class="intro-bg">
	<div class="container intro">
		<div class="intro-title" class="col-md-12">
			<h1>{% page_attribute "page_title" %}</h1>
		</div>
	</div>
</div>
{% endblock intro %}

{% block whatIsIt %}
<div class="info-bg">
	<div class="container info">
		<div class="row">
			<div class="col-md-12 div-title">
				<h2>O que é</h2>
			</div>
			<div class="col-md-12">
				<p>
					<!-- <img src="" class="img-icon img-thumbnail" alt="Exemplo Aluminio" /> -->
					O alumínio é um elemento químico de símbolo Al e número atômico 13 (treze prótons e treze elétrons ) com massa 27u. Na temperatura ambiente é sólido, sendo o elemento metálico mais abundante da crosta terrestre. Sua leveza, condutividade elétrica, resistência à corrosão e baixo ponto de fusão lhe conferem uma multiplicidade de aplicações, especialmente nas soluções de engenharia aeronáutica.
				</p>
				<p>
					Entretanto, mesmo com o baixo custo para a sua reciclagem, o que aumenta sua vida útil e a estabilidade do seu valor, a elevada quantidade de energia necessária para a sua obtenção reduz sobremaneira o seu campo de aplicação, além das implicações ecológicas negativas no rejeito dos subprodutos do processo de reciclagem, ou mesmo de produção do alumínio primário.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock whatIsIt %}

{% block content %}
<div class="content-bg">
	<div class="container content">
		{% placeholder "Content" %}
	</div>
</div>
{% endblock content %}
