{% extends "baseIndex.html" %}
{% load cms_tags static %}

{% block "principal" %}


    <div id="painel" class="container">
      <div class="row">
        <div class="text-center">
          <h1>Mostra de Materiais</h1>
          <h2>Escolha uma das principais categorias</h2>
        </div>
        <div class="categories">
          <ul id="hexGrid">
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="metais">
                  <img src="{% static 'assets/index/metais-bg.jpg' %}" alt="Categoria Metais" />
                  <h2 class="invisible">Metais</h2>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="polimeros">
                  <img src="{% static 'assets/index/polimeros-bg.jpg' %}" alt="Categoria Polimeros" />
                  <h2 class="invisible">Polímeros</h2>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="ceramicos">
                  <img src="{% static 'assets/index/ceramicos-bg.jpg' %}" alt="Categoria Ceramicos" />
                  <h2 class="invisible">Cerâmicos</h2>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="avancados">
                  <img src="{% static 'assets/index/avancados-bg.jpg' %}" alt="" />
                  <h2 class="invisible">Avançados</h2>
                </a>
              </div>
            </li>
            <li class="hex">
              <div class="hexIn">
                <a class="hexLink" href="compositos">
                  <img src="{% static 'assets/index/compositos-bg.jpg' %}" alt="" />
                    <h2 class="invisible">Compósitos</h2>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="search centralize">
          <a class="hvr-sweep-to-right" href="/busca">Ou Pesquise</a>
        </div>
      </div>
    </div>
{% endblock "principal" %}
{% block "projeto" %}
<!-- O Projeto -->
<div class="project-bg">
      <div id="project" class="container project">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title">O Projeto</h2>
          </div>
          <div class="col-md-6">
            {% placeholder 'descricao'%}
            <img src="{% static 'assets/index/encimat-projeto-lg.png' %}" class="img-responsive"/>
          </div>
          <div id="second-column" class="col-md-6">
            <h3 class="subtitle">Atividades</h3>
            {% placeholder 'atividades' %}
            <h3 class="subtitle">A Mostra</h3>
            {% placeholder 'mostra' %}
          </div>
        </div>
      </div>
    </div>
{% endblock "projeto" %}
{% block "equipe" %}
    <div class="team-bg">
      <div id="team" class="container team">
        <div class="wrapper">
          <h2 class="title">Equipe</h2>
          <div class="jcarousel-wrapper">
              <div class="jcarousel">
                <ul>
                  {% placeholder 'equipe' %}
                </ul>
              </div>
              <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
              <a href="#" class="jcarousel-control-next">&rsaquo;</a>
          </div>
        </div>
      </div>
    </div>
{% endblock "equipe" %}
