
        {% load static %}

        <title>Projeto Encimat - Alumínio</title>
    </head>
    <body>
      <script>

        jQuery(document).ready(function($) {
          var slider = $('.aplicacao-slider').unslider({
            keys: false,
            arrows: false,
            nav: false,
            infinite: true
          });
          $('#next-slide').click(function() {
            slider.data('unslider').next();
          });
          $('#prev-slide').click(function() {
            slider.data('unslider').prev();
          });
        });
      </script>
    <!-- Header -->
    <div class="header-bg">
      <div class="container header">
        <div class="row">
          <div class="col-md-2">
            <a href="../">
              <img class ="img-responsive" src="{% static 'encimat1/images/index/logoencimat.png'%}" alt="" />
            </a>
          </div>
          <div class="col-md-7 title">
            <h2>Material</h2>
          </div>
          <div class="pesquise col-md-3">
              <a href="../"><span class="glyphicon glyphicon-search"></span>Pesquise</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Header -->
    <!-- Intro -->
    <div class="intro-bg">
      <div class="container intro">
        <div class="intro-title" class="col-md-12">
          <h1>Alumínio</h1>
        </div>
      </div>
    </div>
    <!-- Intro -->
    <!-- O que é -->
    <div class="info-bg">
      <div class="container info">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>O que é</h2>
          </div>
          <div class="col-md-12">
            <p>
              <img src="{% static "encimat1/images/material/aluminio-icon.jpg" %}" class="img-icon img-thumbnail" alt="Exemplo Aluminio" />
              O alumínio é um elemento químico de símbolo Al e número atômico 13 (treze prótons e treze elétrons ) com massa 27u. Na temperatura ambiente é sólido, sendo o elemento metálico mais abundante da crosta terrestre. Sua leveza, condutividade elétrica, resistência à corrosão e baixo ponto de fusão lhe conferem uma multiplicidade de aplicações, especialmente nas soluções de engenharia aeronáutica.
            </p>
            <p>
              Entretanto, mesmo com o baixo custo para a sua reciclagem, o que aumenta sua vida útil e a estabilidade do seu valor, a elevada quantidade de energia necessária para a sua obtenção reduz sobremaneira o seu campo de aplicação, além das implicações ecológicas negativas no rejeito dos subprodutos do processo de reciclagem, ou mesmo de produção do alumínio primário.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- O que é -->
    <!-- Histórico -->
    <div class="historico-bg">
      <div class="container historico">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>Histórico</h2>
          </div>
          <div class="col-md-12">
            <img class="img-responsive img-texto" src="{% static "encimat1/images/material/historia-aluminio.jpg" %}" alt="" />
            <p>
              Antigamente, o aluminio era utilizado sem que as pessoas soubesserm da existencia dele, apesar de ser o elemento metálico mais abundante na crosta terrestre. Primeiramente utilizado pelos persas, cerca de 6000 a.C. para fabricação de potes, a alumina presente na argila, ao ser queimadase transformava em aluminio o que tornava o material mais resistente e leve. Alguns milênios depois, já na Grécia e Roma, utilizavam-se predra-ume, um sal de aluminio e potassio para fabricação de tintas.
            </p>
            <p>
              Apenas em 1809, devido à grande procura do conhecimento, o quimico britanico Humphry Davy obteve o que mais se aproxima do aluminio, que ainda era uma mistura com ferro fundido. Menos de duas décadas depois, o geologo frances Paul Berthier, descobriu uma rocha avermelhada que continha 52% de óxido de aluminio um vlarejo chamo Lês Baux no sul da França. Essa rocha foi batizada em homenagem ao vilarejo onde foi encontrado e chamada de bauxita.
            </p>
            <p>
              Em 1854, Henry saint-Claire, obtém o aluminio puro através de reduções cataliticas. No ano seguinte, Charles Martin Hall e o frances Paul Louis Troussaint Hérould descobriram uma forma de se fabricar industrialmente o aluminio. Essa pratica foi nomeada de Hall-Hérould e é utilizada até hoje nas fábricas
            </p>
            <p>
              Em 1945, em Ouro Preto (MG), foi produzido o primeiro lingote de aluminio do Hemisferio Sul.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Histórico -->
    <!-- Caracterização -->
    <div class="caracterizacao-bg">
      <div class="container caracterizacao">
        <div class="row">
          <div class="col-md-12 div-title">
          <h2>Caracterização</h2>
          </div>
          <div class="col-md-12">
            <img class="img-responsive img-texto" src="{% static "encimat1/images/material/historia-aluminio.jpg" %}" alt="" />
            <p>
              O aluminio possui diversas caracteristicas que faz dele um material muito utilizado em diversas aplicações
            </p>
            <p>
              <strong>Ponto de Fusão: </strong> O aluminio possui ponto de fusão de 660°C(99,80% de pureza), o que faz dele mais facil de conformar comparativamente com outros materiais.
            </p>
            <p>
              <strong>Peso Especifico: </strong> Umas das mais marcantes características do aluminio é exatamente a sua leveza, 2,70 g/cm³, aproximadamente 35% do peso do aço. Com isso se torna o material mais viavel para utilização na indústria automobilistica e aeronautica.
            </p>
            <p>
              <strong>Resistencia à Corrosão: </strong> O aluminio consegue trocar boas quantidade de calor, sendo comum a utilização de dissipadores de calor fabricados com o matrial em diversas industrias.
            </p>
            <p>
              <strong>Propriedades Antimagnéticas: </strong> Por não ser um metal magnético, o aluminio é muito utilizado para proteção de equipamentos eletônicos. E por não produzir faíscas é frequentemente utilizado na estocagem de substancias inflamaveis.
            </p>
            <p>
              <strong>Reciclagem: </strong> O aluminio é infinitamente reciclavel e, mesmo assim, não perde suas propriedades fisico-quimicas . Essa propriedade faz crescer a utilização do aluminio em diversas industrias por provar ser um metal, que depois de produzido, ser sustentavel.
            </p>
            <h3>Comparação com outros materiais: </h3>
            <table class="table table-striped">
              <tr>
                <th>Propriedades Fisicas</th>
                <th>Aluminio</th>
                <th>Aço</th>
                <th>Cobre</th>
              </tr>
              <tr>
                <td>
                  Densidade(g/cm³)
                </td>
                <td>
                  2,70
                </td>
                <td>
                  7,86
                </td>
                <td>
                  8,96
                </td>
              </tr>
              <tr>
                <td>
                  Temperatura de Fusão(°C)
                </td>
                <td>
                  660
                </td>
                <td>
                  1500
                </td>
                <td>
                  1083
                </td>
              </tr>
              <tr>
                <td>
                  Modulo de Elasticidade(Mpa)
                </td>
                <td>
                  70000
                </td>
                <td>
                  205000
                </td>
                <td>
                  110000
                </td>
              </tr>
              <tr>
                <td>
                  Coeficiente de dilatação térmica(L/°C)
                </td>
                <td>
                  23 x 10⁻⁶
                </td>
                <td>
                  11,7 x 10⁻⁶
                </td>
                <td>
                  16,5 x 10⁻⁶
                </td>
              </tr>
              <tr>
                <td>
                  Condutibilidade termica a 25°C(Cal/cm/°C)
                </td>
                <td>
                  0,53
                </td>
                <td>
                  0,12
                </td>
                <td>
                  0,94
                </td>
              </tr>
              <tr>
                <td>
                  Condutibilidade elétrica(1/&#8486.m)
                </td>
                <td>
                  61
                </td>
                <td>
                  14,5
                </td>
                <td>
                  100
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Caracterização -->
    <!-- Processamento -->
    <div class="processamento-bg">
      <div class="container processamento">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>Processamento</h2>
          </div>
          <div class="col-md-12 processamento-img">
            <p>
              O processamento do aluminio utilizado nas grandes fabricas hoje em dia é o Hall-Hérould, e sua esquemtização funciona da seguinte maneira:
            </p>
            <div class="col-md-offset-3 col-md-6">
              <img src="{% static "encimat1/images/material/processamento-aluminio.jpg" %}" class="img-responsive" alt="Processamento"/>
            </div>
          </div>
          <div class="col-md-12 processamento-descricao">
            <h3>Descrição do Processo: </h3>
            Apenas três matérias primas são fundamentais para o processo de refinação do aluminio que são: óxido de alumínio, eletricidade e carbono.
          </div>
          <div class="col-md-11">
            <ol>
              <li>
                A alumina é dissolvida em um banho eletrolitico de criolita fundida e fluoreto de aluminio.
              </li>
              <li>
                Devido ao alto ponto de fusão, a alumina é convertida pelo processo de eltrólise nas cuas eletrolíticas. Nessas cibas há uma corrente elétrica muito alta que passa entro o pole negativo(catodo) e um polo positivo(anodo), ambos feito de carbono. À medida que o oxigênio reage com alumina para formar o gás carbônico, o anodo vai sendo consumido.
              </li>
              <li>
                O aluminio liquido é retirado por meio de cadinhos e é levado para formas, para fabricação de tarugos, lingotes.
              </li>
            </ol>
          </div>
          <div class="col-md-12 processamento-reacoes">
            <h3>Reações envolvidas: </h3>
            <div class="col-md-offset-3 col-md-6">
              <img src="{% static "encimat1/images/material/reacoes-aluminio.png" %}" class="img-responsive" alt="Reacoes envolvidas no processo" />
            </div>
          </div>
          <div class="col-md-12 processamento-video">
            <h3>Video do Processo: </h3>
            <div class="col-md-12">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fLyEusHRetI"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aplicacao-bg">
      <div class="container aplicacao">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>Aplicação</h2>
          </div>
          <div class="col-md-12">
            <p>
              O óxido que rapidamente se forma à superfície do metal puro torna o metal ideal para muitas aplicações de decoração. Devido à sua elevada condutividade eléctrica, ductilidade e baixa massa atómica, é frequentemente utilizado para linhas de transmissão eléctricas. O metal tem também sido utilizado no revestimento de espelhos de telescópio, bem como no fabrico da chamada folha de aluminio, utilizada na embalagem de alimentos. Puro, o metal tem uma resistência mecânica limitada, sendo portanto geralmente usado em ligas com cobre, manganésio, silicio, magnésio e zinco, que apresentam uma vasta gama de propriedades mecânicas. Estas ligas são usadas na construção civil, estrutura de aviões e de automóveis, sinais de trânsito, dissipadores de calor, depósitos de armazenamento, pontes e utensílios de cozinha.
            </p>
            <div class="slider-imagens col-md-12">
              <h3>Exemplos</h3>
              <div id="prev-slide" class="col-md-offset-1 col-md-1">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </div>
              <div class="col-md-8">
                <div class="aplicacao-slider">
                  <ul>
                    <li>
                      <div class="img-caption">
                        <img src="{% static "encimat1/images/material/aluminio-bg.jpg" %}" class="img-slider" alt="Exemplo Aluminio" />
                          <p>
                            Panela de Pressão
                          </p>
                      </div>
                    </li>
                    <li>
                      <div class="img-caption">
                        <img src="{% static "encimat1/images/material/aluminio-icon.jpg" %}" class="img-slider" alt="Exemplo Aluminio" />
                        <p>
                          Latinha
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="img-caption">
                        <img src="{% static "encimat1/images/material/aluminio-icon.jpg" %}" class="img-slider" alt="Exemplo Aluminio" />
                        <p>
                          Papel Aluminio
                        </p>
                      </div>
                    </li>
                    <li>
                      <div class="col-md-12 video-slider embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fLyEusHRetI"></iframe>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="next-slide" class="col-md-1">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reciclagem-bg">
      <div class="container reciclagem">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>Reciclagem</h2>
          </div>
          <div class="col-md-12">
            <img class="img-responsive img-texto" src="{% static "encimat1/images/material/historia-aluminio.jpg" %}" alt="" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="col-md-12">
              <h3>Processo de Reciclagem</h3>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fLyEusHRetI"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relacionados-bg">
      <div class="container relacionados">
        <div class="row">
          <div class="col-md-12 div-title">
            <h2>Veja Também</h2>
          </div>
          <div class="col-md-4 link-relacionados">
            <a href="#">
              <img class="img-responsive" src="{% static 'encimat1/images/index/compositos-bg.jpg'%}" alt="" />
              <div class="descricao">
                <h4>Compositos</h4>
                <p>
                  Lorem ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio
              </div>
            </a>
          </div>
          <div class="col-md-4 link-relacionados">
            <a href="#">
              <img class="img-responsive" src="{% static 'encimat1/images/index/bio-bg.jpg'%}" alt="" />
              <div class="descricao">
                <h4>Avançados</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem.
                </p>
              </div>
            </a>
          </div>
          <div class="col-md-4 link-relacionados">
            <a href="#">
              <img class="" src="{% static 'encimat1/images/index/ceramicos-bg.jpg'%}" alt="" />
              <div class="descricao">
                <h4>Ceramicos</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tem.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bg">
      <div class="container footer">
        <div class="row">
            <div class="col-md-12 footer-encimat">
              <p>
                ENCIMAT 2016 - Alguns Direitos Reservados
              </p>
              <p>
                Desenvolvido por Lucas Corrêa
              </p>
            </div>
        </div>
      </div>
    </div>
    <!-- Processamento -->
    <!-- Nav Bar -->
        <!-- <div class="col-md-7">
          <nav class="nav-material affix affix-top">
            <ul class="nav navbar-nav" >
              <li><a href="#">Introdução</a></li>
              <li><a href="#">Histórico</a></li>
              <li><a href="#">Caracterizações</a></li>
              <li><a href="#">Processamento</a></li>
              <li><a href="#">Aplicações</a></li>
              <li><a href="#">Reciclagem</a></li>
            </ul>
          </nav>
        </div> -->
      <!-- Nav Bar -->

    </div>


</body>
