{% extends "base.html" %}
{% load cms_tags %}

{% block intro %}
	{% placeholder 'bg' %}
{% endblock intro %}

{% block whatIsIt %}
<div class="info-bg">
	<div class="container info">
		<div class="row">
			<div class="col-md-12 div-title">
				<h2>O que é</h2>
			</div>
			<div class="col-md-12">
				{% placeholder "categoriaintro" %}
			</div>
		</div>
	</div>
</div>
{% endblock whatIsIt %}

{% block content %}
<div class="content-bg">
	<div class="container content">
		{% placeholder "Content" %}
	</div>
</div>
{% endblock content %}
