
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

/* --------------------------HEADER -------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}

h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: black;
}
h3:before {
  content: '';
  display: block;
  width: 10%;
  height: 1px;
  background-color: #333;
  margin: 5px auto;
  /*margin-bottom: 10px;*/
}
h3:after {
  content: '';
  display: block;
  width: 10%;
  height: 1px;
  background-color: #333;
  margin: 5px auto;
  margin-bottom: 30px;
}
.header-bg {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 5px;
  background-color: #303030;
}

.title {
  text-align: center;
}
.title h2 {
  font-weight: 400;
  margin-top: 10px;
}
.pesquise {
  padding-top: 10px;
  text-align: right;
}
.pesquise a{
  color: white;
  text-decoration: none;
  font-size: 18pt;
  font-weight: 400;
}

.pesquise a:hover{
  color: #E6BD00;
}

.pesquise a span{
  padding-right: 10px;
  font-size: 13pt;
}
/* -------------------------- Intro -------------------------- */
.intro-bg {
  background: url(../images/material/aluminio-bg.jpg) no-repeat;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.intro-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  /*line-height: 100;*/
  text-align: center;
}
.intro-title h1 {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: black;
  font-size: 60pt;
  font-weight: 500;
  padding: 180px 0px !important;
}

.div-title h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.div-title h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333;
}

.list-group-item {
  cursor: pointer;
}

/*Links*/
.link-img{
  margin-top: 20px;
  margin-bottom: 20px;
}
.link-title {
  text-align: center;
  margin-bottom: 20px;
}

.link-title a {
  text-align: center;
  text-decoration: none;
}

/* ------------------------ Relacionados ------------------------ */
.descricao {
  padding: 15px;
  height: 130px;
  background-color: #263238;
}

.link-relacionados img {
  width: 360px;
  height: 240px;
}
.link-relacionados p, .link-relacionados h4  {
  margin: 0px;
  color: white;
}
.link-relacionados h4 {
    padding-bottom: 10px;
}

.link-relacionados {
  padding:20px 15px;

}

.link-relacionados a:hover{
  text-decoration: none;

}
/* -------------------------- Footer  -------------------------- */
.footer-bg {
  border-top: 2px solid black;
  padding-top: 20px;
  color: white;
  background-color: #263238;
}

.footer-encimat {
  text-align: center;
}
